<div class="project-detail-component">
  <app-arrow-back [routerLinkBack]="['/main/projects']" [queryParamsBack]="{ filter : selectedFilter} ">
  </app-arrow-back>
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="project-detail">
    <div *ngIf="project" class="project-detail__swiper">
      <ng-container *ngIf="loading; else elseTemplate">
        <swiper style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff" 
                [spaceBetween]="10"
                [navigation]="true" 
                [thumbs]="{ swiper: thumbsSwiper }" 
                class="mySwiper2"
                [config]="config"   
                >
          <ng-template swiperSlide *ngFor="let item of project.gallery">
            <img [src]="item" [alt]="'foto de ' + project.name"/>
          </ng-template>
        </swiper> 
   
      </ng-container>
      <ng-template #elseTemplate>
        <p>Cargando...</p>
      </ng-template>



    </div>
    <div class="project-detail__content">
      <h3 *ngIf="project.name">{{project.name}}</h3>
      <div *ngIf="project.description" class="project-detail__content--description">
        <p *ngFor="let paragraph of project.description">{{ paragraph }}</p>
      </div>
      <div class="project-detail__content--detail" *ngIf="project.detail">
        <p *ngFor="let paragraph of project.detail">
          {{paragraph}}
        </p>
        <div *ngIf="project.externalLinks">
          <a *ngFor="let link of project.externalLinks" [href]="link">{{ link }}</a>
        </div> 
      </div>
    </div>
    <div *ngIf="project.videos" class="project-detail__video">
      <ng-container *ngIf="loadingVideo;else loader">
        <div *ngFor="let videoUrl of project.videos">
          <iframe width="560" height="315" [src]="getVideoIframe(videoUrl)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </ng-container>
      <ng-template  #loader>
        <p>cargando video...</p>
      </ng-template>
    </div>
  

  </div>
</div>