@import "../../styles/abstract/mixins";

.carousel-item {
  box-sizing: border-box;
  & .img-container {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }

  img {
    min-height: 100vh;
    min-width: 100vw;
    height: auto;
    width: auto;
    object-fit: cover;
    filter: brightness(0.9) grayscale(1);
  }
  .data {
    width: 90%;
    margin: 1rem auto;
    font-size: 1.5rem;
  }
}
.carousel-control-next,
.carousel-control-prev {
  top: 0;
  height: 100vh;
  z-index: 600;

}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 6rem;
  height: 6rem;
}



.carousel-control-next:hover, .carousel-control-prev:hover{
  background: transparent;
  background-color: transparent;
}