<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-interval="5000"
  data-bs-ride="carousel"
  data-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="img-container">
        <img
          src="../../../assets/banners/Domino-PASAJE-ph-G-Viramonte-007.jpg"
          class="d-block"
          alt="..."
        />
      </div>
    </div>
    <div class="carousel-item">
      <div class="img-container">
        <img
          src="../../../assets/banners/Domino-SARA-ph-G-Viramonte-229.jpg"
          class="d-block"
          alt="..."
        />
      </div>
    </div>
    <div class="carousel-item">
      <div class="img-container">
        <img
          src="../../../assets/banners/PORTADA17.jpg"
          class="d-block"
          alt="..."
        />
      </div>
    </div>
    <div class="carousel-item">
      <div class="img-container">
        <img src="../../../assets/banners/071.jpg" class="d-block" alt="..." />
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
