@import "../../styles/abstract/mixins";

.carousel-item {
  box-sizing: border-box;
  & .img-container {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }

  img {
    height: 100vh;
    filter: brightness(0.9) grayscale(1) contrast(2);
    @include respond(tab-land) {
      width: 100%;
      min-height: 100vh;
      height: auto;
    }
  }
  .data {
    width: 90%;
    margin: 1rem auto;
    font-size: 1.5rem;
  }
}
.carousel-control-next,
.carousel-control-prev {
  top: 0;
  height: 100vh;
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 6rem;
  height: 6rem;
}
