<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-interval="5000"
  data-bs-ride="carousel"
  data-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="img-container">
        <img
          src="../../../assets/banners/mobile/car-mob-1.jpg"
          srcset="
            ../../../assets/banners/mobile/car-mob-1.jpg   500w,
            ../../../assets/banners/desktop/car-desk-1.jpg
          "
          class="d-block"
          alt="..."
        />
      </div>
    </div>
    <div class="carousel-item">
      <div class="img-container">
        <img
          src="../../../assets/banners/mobile/car-mob-2.jpg"
          srcset="
            ../../../assets/banners/mobile/car-mob-2.jpg   500w,
            ../../../assets/banners/desktop/car-desk-2.jpg
          "
          class="d-block"
          alt="..."
        />
      </div>
    </div>
    <div class="carousel-item">
      <div class="img-container">
        <img
          src="../../../assets/banners/mobile/car-mob-3.jpg"
          srcset="
            ../../../assets/banners/mobile/car-mob-3.jpg   500w,
            ../../../assets/banners/desktop/car-desk-3.jpg
          "
          class="d-block"
          alt="..."
        />
      </div>
    </div>
    <div class="carousel-item">
      <div class="img-container">
        <img
          src="../../../assets/banners/mobile/car-mob-4.jpg"
          srcset="
            ../../../assets/banners/mobile/car-mob-4.jpg   500w,
            ../../../assets/banners/desktop/car-desk-4.jpg
          "
          class="d-block"
          alt="..."
        />
      </div>
    </div>
    <div class="carousel-item">
      <div class="img-container">
        <img
          src="../../../assets/banners/mobile/car-mob-5.jpg"
          srcset="
            ../../../assets/banners/mobile/car-mob-5.jpg   500w,
            ../../../assets/banners/desktop/car-desk-5.jpg
          "
          class="d-block"
          alt="..."
        />
      </div>
    </div>
    <div class="carousel-item">
      <div class="img-container">
        <img
          src="../../../assets/banners/mobile/car-mob-6.jpg"
          srcset="
            ../../../assets/banners/mobile/car-mob-6.jpg   500w,
            ../../../assets/banners/desktop/car-desk-6.jpg
          "
          class="d-block"
          alt="..."
        />
      </div>
    </div>
    <div class="carousel-item">
      <div class="img-container">
        <img
          src="../../../assets/banners/mobile/car-mob-7.jpg"
          srcset="
            ../../../assets/banners/mobile/car-mob-7.jpg   500w,
            ../../../assets/banners/desktop/car-desk-7.jpg
          "
          class="d-block"
          alt="..."
        />
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
