<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="img-container">
        <img
          src="../../../assets/proyects/casa-1.jpg"
          class="d-block"
          alt="..."
        />
      </div>
      <div class="data">
        <h3 class="data--title">Casa Mollera</h3>
        <h4 class="data--location">Mendiolaza, Córdoba, Argentina.</h4>
      </div>
    </div>
    <div class="carousel-item">
      <div class="img-container">
        <img
          src="../../../assets/proyects/PORTADA52.jpg"
          class="d-block"
          alt="..."
        />
      </div>

      <div class="data">
        <h3 class="data--title">Casa Mollera</h3>
        <h4 class="data--location">Mendiolaza, Córdoba, Argentina.</h4>
      </div>
    </div>
    <div class="carousel-item">
      <div class="img-container">
        <img
          src="../../../assets/proyects/colectiva3.jpg"
          class="d-block"
          alt="..."
        />
      </div>

      <div class="data">
        <h3 class="data--title">Casa Mollera</h3>
        <h4 class="data--location">Mendiolaza, Córdoba, Argentina.</h4>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
