<div class="footer">
  <div class="contact--info">
    <ul>
      <li>
        <svg class="icon">
          <use xlink:href="../../../assets/icons/sprite.svg#envelope"></use>
        </svg>
        <p>arqdragotto@gmail.com</p>
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="../../../assets/icons/sprite.svg#phone"></use>
        </svg>
        <p>Tel: +54 351 718 1150</p>
      </li>
      <li>
        <svg class="icon">
          <use
            xlink:href="../../../assets/icons/sprite.svg#map-marker-alt"
          ></use>
        </svg>
        <p>
          Calle Donaciano del Campillo 1760. Barrio: Cerro de las Rosas,
          Córdoba, Argentina.
        </p>
      </li>
    </ul>
  </div>
  <div class="social--links">
    <a
      href="https://instagram.com/diegodragotto?igshid=YmMyMTA2M2Y="
      target="_blank"
    >
      <svg class="social-link">
        <use xlink:href="../../../assets/icons/sprite.svg#instagram"></use>
      </svg>
    </a>
    <a href="https://wa.me/3517181150" target="_blank">
      <svg class="social-link">
        <use xlink:href="../../../assets/icons/sprite.svg#whatsapp"></use>
      </svg>
    </a>
  </div>
</div>
