<div class="contact">
  <div class="nav-bar">
    <app-nav-bar [isColorWhite]="true"></app-nav-bar>
  </div>
  <div class="contact--info">
    <ul>
      <li>
        <div class="icon">
          <svg class="icon__item">
            <use xlink:href="../../../assets/icons/sprite.svg#envelope"></use>
          </svg>
        </div>
        <p>arqdragotto@gmail.com</p>
      </li>
      <li>
        <div class="icon">
          <svg class="icon__item">
            <use xlink:href="../../../assets/icons/sprite.svg#phone"></use>
          </svg>
        </div>
        <p>Tel: +54 351 718 1150</p>
      </li>
      <li>
        <div class="icon">
          <svg class="icon__item">
            <use
              xlink:href="../../../assets/icons/sprite.svg#map-marker-alt"
            ></use>
          </svg>
        </div>
        <p>Av. San Martín 1727 -PA-Of.6- Unquillo.</p>
      </li>
    </ul>
  </div>
  <div class="social--links">
    <a
      href="https://instagram.com/diegodragotto?igshid=YmMyMTA2M2Y="
      target="_blank"
    >
      <svg class="social-link">
        <use xlink:href="../../../assets/icons/sprite.svg#instagram"></use>
      </svg>
    </a>
    <a href="https://wa.me/3517181150" target="_blank">
      <svg class="social-link">
        <use xlink:href="../../../assets/icons/sprite.svg#whatsapp"></use>
      </svg>
    </a>
    <a href="https://goo.gl/maps/EcJMjxf4UDGvBbiD8" target="_blank">
      <svg class="social-link">
        <use xlink:href="../../../assets/icons/sprite.svg#map-marker-alt"></use>
      </svg>
    </a>
  </div>
</div>
