<div class="nav-bar-container">
  <div class="toggle" *ngIf="!alwaysVisible">
    <button class="toggle__btn" (click)="handleNavBar()">
      Menú
      <svg class="toggle__btn--icon" [class]="menuOpen ? 'open' : ''">
        <use xlink:href="../../../assets/icons/sprite.svg#angle-right"></use>
      </svg>
    </button>
  </div>
  <nav class="nav" *ngIf="menuOpen" [@dropRightAnimation]>
    <ul class="nav__list">
      <li class="nav__item" [class]="!alwaysVisible && 'animated'">
        <a [routerLink]="['/main']">INICIO</a>
      </li>
      <li class="nav__item" [class]="!alwaysVisible && 'animated'">
        <a [routerLink]="['/proyects']">Galería</a>
      </li>
      <li class="nav__item" [class]="!alwaysVisible && 'animated'">
        <a [routerLink]="['/path']">PROYECTOS</a>
      </li>
      <li class="nav__item" [class]="!alwaysVisible && 'animated'">
        <a [routerLink]="['/path']">CONTACTO</a>
      </li>
    </ul>
  </nav>
</div>
