<div class="nav-bar-container">
  <div class="toggle" *ngIf="!alwaysVisible">
    <button class="toggle__btn" (click)="handleNavBar()">
      Menú
      <svg class="toggle__btn--icon" [class]="menuOpen ? 'open' : ''">
        <use xlink:href="../../../assets/icons/sprite.svg#angle-right"></use>
      </svg>
    </button>
  </div>
  <div></div>
  <nav class="nav" *ngIf="menuOpen" [@dropRightAnimation]>
    <ul class="nav__list">
      <li class="nav__item animated" routerLinkActive="active-link">
        <a [routerLink]="['/main', 'navigation']">INICIO</a>
      </li>
      <li class="nav__item animated" routerLinkActive="active-link">
        <a [routerLink]="['/main', 'proyects']">GALERÍA</a>
      </li>
      <li class="nav__item animated" routerLinkActive="active-link">
        <a [routerLink]="['/path']">PROYECTOS</a>
      </li>
      <li class="nav__item animated" routerLinkActive="active-link">
        <a [routerLink]="['/main', 'contact']">CONTACTO</a>
      </li>
    </ul>
  </nav>
</div>
