<div class="home-page">
  <header class="header">
    <div class="nav">
      <app-nav-bar></app-nav-bar>
    </div>
    <div class="title-primary">
      <h2>DIEGO DRAGOTTO Arq.</h2>
    </div>
  </header>
  <main class="main">
    <section class="carousel">
      <app-carousel></app-carousel>
    </section>
    <section class="proyects">
      <img
        src="../../../assets/proyects/Domino-PASAJE-ph-G-Viramonte-007.jpg"
        alt="Vivenda uni familiar"
      />
    </section>
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
