@import "../../styles/abstract/mixins";

.title {
  z-index: 10;
  color: white;
  padding: 0 5%;
  @include respond(tab-land) {
    top: 40px;
    left: 7%;
  }
  h2 {
    font-size: 2rem;
    font-weight: 300;
    @include respond(tab-port){
      font-size: 2.5rem;
    }
    @include respond(tab-land) {
      font-size: 3.5rem;
    }
  }
  span {
    font-weight: 700;
  }
}
.navigation{
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.carousel{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.navi{
  position: relative;
  z-index: 900;
  width: 400px;
  justify-self: end;
  @include respond(tab-land){
    margin-right: 20rem;
  }
}