<div class="nav-bar-container">
  <nav [class]="mobileType ? 'mobile nav-tablet' : 'nav-tablet'">
    <ul class="nav-tablet__list"  [ngClass]="isColumn ? 'column' : ''">
      <li
        *ngFor="let link of navBarLinks"
        class="'nav-tablet__item animated'"
        routerLinkActive="active-link"
        >
        <a
          [routerLink]="link.route"
          [style.color]="isColorWhite ? 'white' : 'inherit'"
          [queryParams]=" link.fitlerParams ? { filter : link.fitlerParams} : null ">
          <span>{{ link.name }}</span><b>{{link.nameBold}}</b>
        </a>
      </li>
    </ul>
  </nav>
</div>
