@import "../../styles/abstract/variables";
@import "../../styles/abstract/mixins";
.nav-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  width: 100%;
  color: black;
  font-size: 2rem;
  font-weight: 400;
  box-sizing: border-box;
}


.nav-tablet {
  z-index: 500;
  position: relative;
  &.mobile{
    .nav-tablet__list{
      display: grid;
      grid-template-columns: 180px 180px;
      gap: 5px;
      margin-bottom: 5rem;
      @include respond(tab-port){
        display: flex;
      }
    }
  }
  &__list {
    list-style: none;
    display: flex;
    &.column{
      flex-direction: column;
      align-items: flex-end ;
      margin-right: 5rem;
      a{
        font-size: 2.4rem !important;
      }
    }
  }
  &__item {
    width: fit-content;
    margin: 5px;
    cursor: pointer;

    &.active-link {
      position: relative;
      .line::before {
        content: "";
        width: 22px;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 6px;
      }
      .line-white::before {
        background-color: white;
      }
      .line-black::before {
        background-color: black;
      }
    }
  }
  a{
    font-size: 1.5rem;
  }
}
.nav-tablet a,
.nav a{
  padding: 0 25px 0 5px;
  list-style: none;
  color: inherit;
  text-decoration: none;
  text-transform: lowercase;
  span{
    font-weight: lighter;
  }
  b{
    font-weight: bolder;
  }
}
a{
  text-decoration: none;
}