@import "../abstract/variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

html {
  font-family: "Roboto", sans-serif;
}
.title-primary {
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 3rem !important;
    font-weight: 700;
  }
  text-align: center;
  margin-top: 11px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
